body {
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: black;
    text-align: center;
}

img {
    border: 5px solid white;
}

div {
    margin-top: 5%;
    text-transform: uppercase;
}